ib_charts/
__pycache__/
pickles/
plots/
json_data/
*.txt
*.env
*.swp
fourier/
bot_logging.txt
servidor_logs.txt
cat_json.py
ib_backtest/
trades/
*.log
trades_live/
*.json
*.csv
!requirements.txt
futures_plots/
training_data/
trading_data/
logs/
rl_data/
rt_data/
*.joblib
