apscheduler==3.11.2
cachetools==7.0.1
discord.py==2.6.4
exchange_calendars==4.12
httpx==0.28.1
matplotlib==3.10.8
numba==0.63.1
numpy==2.4.2
orjson==3.11.7
pandas==3.0.1
pandas_market_calendars==5.3.0
pyarrow==23.0.1
python-dotenv==1.2.1
pytz==2025.2
qiskit==2.3.0
qiskit_aer==0.17.2
Requests==2.32.5
scikit_learn==1.8.0
sdnotify==0.3.2
seaborn==0.13.2
setuptools==80.10.2
tastytrade==12.0.2
tenacity==9.1.4
torch==2.10.0+cu128
thetadata_api @ git+https://github.com/Kripta-Studios/thetadata-api.git
