[Unit]
Description=Option Greeks Plotting Discord Bot
After=network.target

[Service]
Environment="DXLINK_MAX_CONCURRENT=2"
Type=notify
WorkingDirectory=/home/Option-Greeks-Plotting-Discord-Bot
User=root

# ACTUALIZADO para nueva estructura
ExecStart=/usr/bin/python3 /home/Option-Greeks-Plotting-Discord-Bot/discord_app/main.py

RuntimeMaxSec=21600
Restart=always
RestartSec=5
WatchdogSec=30min
StandardOutput=append:/root/salida.log
StandardError=append:/root/salida.log
MemoryMax=80%
[Install]
WantedBy=multi-user.target
