[Unit]
Description=Reboot daily at 02:30 ET

[Timer]
# Format: DayOfWeek Year-Month-Day Hour:Minute:Second Timezone
OnCalendar=*-*-* 02:30:00 America/New_York
Unit=reboot.target

[Install]
WantedBy=timers.target
